$gray: #dddddd;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;  
}

.jumbotron {
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $gray;
    @include margenes(10px,0px);
}

.card-hotel{
    flex: 1 400px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-sitio {
    width: 100%;
}

.footer-adress-icon{
    padding-right: 10px;
}

.card-img{
    width: 400px;
    height: 200px;
}

.tab-content{
    padding-top: 10px;
}

.d-block{
    width: 800px;
    height: 400px;
}